#                            Assignment-2  
## Cognitive Computing (UCS420) (List, Tuples, Set and Dictionary)


**1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].  i. WAP to add 200 and 300 to L.  
ii. WAP to remove 10 and 30 from L.  
iii. WAP to sort L in ascending order.  
iv. WAP to sort L in descending order.**

In [39]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("the list after adding 200 and 300 is : ")
print(L)

L.remove(10)
L.remove(30)
print("the list after removing 10 and 30 is : ")
print(L)

L.sort()
print("the list after sorting in ascending order : ")
print(L)

L.sort(reverse=True)
print("the list after sorting in decending order : ")
print(L)

the list after adding 200 and 300 is :
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
the list after removing 10 and 30 is :
[20, 40, 50, 60, 70, 80, 200, 300]
the list after sorting in ascending order :
[20, 40, 50, 60, 70, 80, 200, 300]
the list after sorting in decending order :
[300, 200, 80, 70, 60, 50, 40, 20]

**2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and  perform the following operations using tuple functions:  
i. Identify the highest score and its index in the tuple.  
ii. Find the lowest score and count how many times it appears.  
iii. Reverse the tuple and return it as a list.  
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and  print its first occurrence index, or a message saying it’s not present.**

In [41]:
scores=(45,89.5,76,45.4,89,92,58,45)
print("the highest score in the tuple is : ",max(scores))
print("the index of highest element is : ",scores.index(max(scores)))

print("the lowest score in the tuple is : ",min(scores))
print("the index of lowest element is : ",scores.count(min(scores)))

reversed_scores=tuple(reversed(scores))
reversed_scores_as_list=list(reversed_scores)
print("the list of the reversed tuple is : ",reversed_scores_as_list)

searching_ele=int(input("enter the numbre to be searched in the tuple: "))
if searching_ele in scores:
  print("the entered element is present in tuple at index",scores.index(searching_ele))
else:
    print("the element is not present in the tuple ")

the highest score in the tuple is :  92
the index of highest element is :  5
the lowest score in the tuple is :  45
the index of lowest element is :  2
the list of the reversed tuple is :  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the numbre to be searched in the tuple: 89
the entered element is present in tuple at index 4

**3. WAP to create a list of 100 random numbers between 100 and 900. Count and print  the:  
i. All odd numbers  
ii. All even numbers  
iii. All prime numbers**

In [42]:
import random as r
l=[]
for i in range(100):
  l.append(r.randint(100,900))
print("the list is: ")
print (l)

print("\nprinting all odd numbers: ",)
for num in l:
  if(num%2==1):
    print(num,end=" ")

print("\n\nprinting all even numbers: ")
for num in l:
  if(num%2==0):
    print(num,end=" ")

print("\n\nprinting all prime numbers: ")
for num in l:
  f=0
  for i in range(2,(num//2)+1):
    if(num%i==0):
      f=1
      break
  if f==0:
    print(num,end=" ")

the list is:
[249, 717, 752, 684, 368, 748, 176, 163, 185, 831, 752, 701, 277, 857, 469, 584, 483, 201, 741, 623, 650, 481, 194, 448, 285, 102, 523, 282, 691, 259, 159, 717, 808, 237, 254, 211, 295, 225, 157, 811, 178, 608, 853, 321, 189, 489, 370, 889, 398, 813, 797, 769, 367, 867, 324, 660, 538, 640, 679, 202, 379, 199, 310, 212, 287, 469, 188, 548, 680, 253, 528, 132, 807, 477, 143, 258, 787, 476, 618, 240, 831, 326, 797, 388, 888, 362, 651, 734, 317, 799, 118, 440, 564, 144, 756, 411, 168, 790, 480, 171]

printing all odd numbers:
249 717 163 185 831 701 277 857 469 483 201 741 623 481 285 523 691 259 159 717 237 211 295 225 157 811 853 321 189 489 889 813 797 769 367 867 679 379 199 287 469 253 807 477 143 787 831 797 651 317 799 411 171

printing all even numbers:
752 684 368 748 176 752 584 650 194 448 102 282 808 254 178 608 370 398 324 660 538 640 202 310 212 188 548 680 528 132 258 476 618 240 326 388 888 362 734 118 440 564 144 756 168 790 480

printing all prime numbers:
163 701 277 857 523 691 211 157 811 853 797 769 367 379 199 787 797 317

**4. Consider the following two sets, A and B, representing scores of two teams in multiple  matches. A = {34, 56, 78, 90} and B ={78, 45, 90, 23} WAP to perform the following operations using set functions:
i.) Find the unique scores achieved by both teams (union of sets)
ii.) Identify the scores that are common to both teams (intersection of sets).
iii.) Find the scores that are exclusive to each team (symmetric difference).
iv.) Check if the scores of team A are a subset of team B, and if team B's scores are  a superset of team A.  
v.) Remove a specific score __ (input by the user) from set A if it exists. If not, print  a message saying it is not present.**

In [44]:
A={34,56,78,90}
B={78,45,90,23}
print("the unique scores achieved by both teams",A.union(B))

print("the scores that are common to both teams ",A.intersection(B))

print("the scores that are exclusive to each team",A^B)

if A.issubset(B):
  print("set A is subset of the set B")
else:
  print("set A is not the subset of the set B")
if B.issuperset(A):
  print("set B is superset of the set A")
else:
  print("set B is not the superset of the set A")

searching_ele=int(input("enter the searching element: "))
if searching_ele in A:
  print("the searching ele is present in the set")
else:
  print("the searching ele is not present in the set")

the unique scores achieved by both teams {34, 45, 78, 23, 56, 90}
the scores that are common to both teams  {90, 78}
the scores that are exclusive to each team {34, 45, 23, 56}
set A is not the subset of the set B
set B is not the superset of the set A
enter the searching element: 78
the searching ele is present in the set

**5. Write a program to rename a key city to a location in the following dictionary.**

In [47]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print("the original dictionary is : ")
print(sample_dict)

sample_dict.pop("city")
sample_dict["location"]="New York"
print()
print("after updation the new dictionary is : ")
print (sample_dict)

the original dictionary is :
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}

after updation the new dictionary is :
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}